## SQLite
SQLite 是数据分析过程中非常推荐的数据库，当你需要备份或分享数据时，无需导入导出，直接将 SQLite 存储的 .sqlite 文件拷贝即可。

In [1]:
import os
import sqlite3
import pandas as pd
import numpy as np

# 如果目录下已存在 SQLite 数据库，执行删除避免重复运行报错
if os.path.exists('test.sqlite'):
    os.remove('test.sqlite')

In [2]:
sql_con = sqlite3.connect('test.sqlite')  # 连接数据库
sql_con

In [3]:
# 生成示例数据
df = pd.DataFrame({'A': np.random.randn(50), 'B': np.random.randn(50)})

# 向数据库中写入示例数据，表名为 test_table
df.to_sql(name='test_table', con=sql_con, index=None)
sql_con.close()  # 关闭连接

In [4]:
os.path.exists('test.sqlite')

True

In [5]:
sql_con = sqlite3.connect('test.sqlite')  # 建立数据库连接
sql_query = "SELECT * FROM test_table"  # SQL 查询语句，查询 test_table 表中全部数据

pd.read_sql(sql_query, sql_con)  # 执行查询并输出数据

           A         B
0   0.597388 -2.319723
1  -0.392672  0.069767
2   0.184211 -0.679173
3   0.955975  1.052736
4  -1.035391  0.314428
5   1.162253  0.589540
6   1.330540 -0.179466
7  -0.619661  0.343326
8  -0.908465 -1.965349
9   0.769694  1.400953
10 -1.787281 -0.379313
11  0.044043  0.134024
12 -0.410933  2.229547
13 -0.389729  0.379011
14 -1.178236 -1.633289
15  0.704586 -0.632675
16 -0.007355  0.369774
17 -1.744341 -1.294572
18  0.711730 -0.702110
19  0.151183  0.113757
20  0.150495 -0.379253
21  0.744420  1.207541
22 -0.795601 -0.232296
23  1.528988  0.918158
24  0.683520  0.037413
25  0.236367 -0.378949
26  0.436187 -0.794397
27  1.916298 -0.868352
28 -0.392463  0.335979
29 -0.912590 -0.516256
30  1.606776  1.422332
31 -0.584851 -0.192885
32 -1.171854  0.584053
33  0.177752 -1.203504
34  0.428289  0.061348
35 -0.368887  2.212610
36  0.641664  0.125655
37  1.051138  0.457863
38 -0.843587 -0.294457
39 -0.956226  0.351829
40  0.985338 -1.720381
41 -0.062957  0.604659
42 -0.870100  1.119700
43 -1.962631  0.338363
44 -1.846141  0.840538
45  0.075459  1.722441
46 -1.072281 -1.117236
47 -0.411479  0.144550
48  0.651939  0.662779
49  0.370736  0.885386

## SQL SELECT 语法
- SQL 是用于访问和处理数据库的标准的计算机语言，如果你想从数据库中查询自己想要的数据，就必须学会 SQL 基础语法。当然，SQL 能做的不仅有「查询」，凡是涉及到数据库数据的「增删改查」都可以完成。

- 本次实验中，我们对 SQL 语法中的 SELECT 语句进行介绍。

-  SELECT 语句是 SQL 中最常用的语句，用可以用来从数据表中选取数据。SELECT 语句的基本格式为：SELECT 要查询的列名 FROM 表名字，例如上文中使用 * 替代要查询的列名，即输出全部数据。当然，你可以只查询 A 列的数据。