# excel 和 csv文件的读取

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({"A": np.random.randn(10), "B":np.random.randn(10)})

In [3]:
df

          A         B
0 -1.459112 -1.671652
1 -1.045118 -0.121517
2  0.548257  0.529985
3 -1.533987  0.122127
4  2.264588  0.493395
5 -0.699995 -0.185165
6 -1.397462  0.229197
7 -1.067475 -0.947378
8 -0.500637 -0.294995
9 -2.686852 -0.563211

In [4]:
df.to_csv("test.csv", index=None)

In [5]:
df.to_excel("test.xlsx", index=None)

In [6]:
pd.read_csv("test.csv")

          A         B
0 -1.459112 -1.671652
1 -1.045118 -0.121517
2  0.548257  0.529985
3 -1.533987  0.122127
4  2.264588  0.493395
5 -0.699995 -0.185165
6 -1.397462  0.229197
7 -1.067475 -0.947378
8 -0.500637 -0.294995
9 -2.686852 -0.563211

In [7]:
pd.read_excel("test.xlsx")

          A         B
0 -1.459112 -1.671652
1 -1.045118 -0.121517
2  0.548257  0.529985
3 -1.533987  0.122127
4  2.264588  0.493395
5 -0.699995 -0.185165
6 -1.397462  0.229197
7 -1.067475 -0.947378
8 -0.500637 -0.294995
9 -2.686852 -0.563211

上面的表格中，相信你最熟悉的是 Excel 表格数据文件。由于 Excel 表格有最大的行数储存限制（16,384 列 × 1,048,576 行），所以更多时候我们会使用 CSV 来储存表格数据

In [12]:
chunker = pd.read_csv("test.csv", chunksize=2)

In [13]:
for chunk in chunker:
    print(chunk)

          A         B
0 -1.459112 -1.671652
1 -1.045118 -0.121517
          A         B
2  0.548257  0.529985
3 -1.533987  0.122127
          A         B
4  2.264588  0.493395
5 -0.699995 -0.185165
          A         B
6 -1.397462  0.229197
7 -1.067475 -0.947378
          A         B
8 -0.500637 -0.294995
9 -2.686852 -0.563211

## JSON
- JSON 数据中 key 必须是字符串类型，缺失值用 null 表示。其中还可能包含的基本类型有：字典，列表，字符串，数值，布尔值等。

In [17]:
obj = """ 
[
    {
        "aqi": 46,
        "area": "成都",
        "pm2_5": 32,
        "pm2_5_24h": 33,
        "position_name": "金泉两河",
        "primary_pollutant": null,
        "quality": "优",
        "station_code": "1431A",
        "time_point": "2018-09-05T09:00:00Z"
    },
    {
        "aqi": 29,
        "area": "成都",
        "pm2_5": 20,
        "pm2_5_24h": 26,
        "position_name": "十里店",
        "primary_pollutant": null,
        "quality": "优",
        "station_code": "1432A",
        "time_point": "2018-09-05T09:00:00Z"
    }
]
"""

In [18]:
pd.read_json(obj)

,aqi,area,pm2_5,pm2_5_24h,position_name,primary_pollutant,quality,station_code,time_point
0,46,成都,32,33,金泉两河,NaN,优,1431A,2018-09-05T09:00:00Z
1,29,成都,20,26,十里店,NaN,优,1432A,2018-09-05T09:00:00Z